build/*
src/images/*

node_modules
jspm_packages
logs
*.log
npm-debug.log*
.npm
.env
pids
*.pid
*.seed
*.pid.lock
tmp
.DS_Store
.DS_Store?
._*
.*swo
.*swp
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
lib