# Build files
build/*

# Source images
src/images/*

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Environment variables
.env

# Mac system file
.DS_STORE