<mj-section vertical-align="middle" padding="0">
  <mj-column>
    <mj-image src="{{this.image}}" height="auto" padding="0">
    </mj-image>
  </mj-column>
</mj-section>

<mj-section vertical-align="middle" padding="0">
  <mj-column>
    <mj-image src="http://image.ucm-email.chaminade.edu/lib/fe9213727d65047e7d/m/1/19add1f2-8580-4d2e-ad13-292019074642.jpg" height="auto" padding="0">
    </mj-image>
  </mj-column>
</mj-section>

<mj-section vertical-align="middle" padding="0px 50px 30px" background-color="#ffffff">
  <mj-column>
    <mj-text mj-class="hero-article-title">
      {{this.title}}
    </mj-text>
    <mj-text mj-class="hero-article-excerpt">
      {{this.intro}}
    </mj-text>
    <mj-button mj-class="hero-btn-read-more" href="{{this.link}}">
      <span style="line-height:20px;">Read More</span>
    </mj-button>
  </mj-column>
</mj-section>