<mjml>
  <mj-head>
    <mj-title>
      {{template.masthead}}
    </mj-title>
    <mj-attributes>
      <mj-text padding="0px" font-size="17px" line-height="22px" font-family="Georgia, Times, serif" />

      <mj-class name="hero-article-title" align="center" color="#000000" font-family="Georgia, Times, serif" font-weight="400" font-size="36px" line-height="42px" padding="50px 0px 0px 0px"/>
      <mj-class name="hero-article-excerpt" align="center" font-family="Arial, sans-serif" font-weight="400" font-size="16px" line-height="30px" color="#047294" padding="30px 0px" />
      <mj-class name="hero-btn-read-more" align="center" vertical-align="middle" font-weight="600" font-size="12px" padding="0px" font-family="Arial, sans-serif" text-decoration="none" text-transform="uppercase" border-radius="20px" inner-padding="10px 25px" background-color="#2196f3" color="#ffffff" />
      
      <mj-class name="article-title" color="#000000" font-family="Georgia, Times, serif" font-weight="400" font-size="20px" line-height="30px" padding="0px"/>
      <mj-class name="article-excerpt" align="left" font-family="Arial, sans-serif" font-weight="400" font-size="14px" line-height="28px" color="#047294" padding="0px" />
      <mj-class name="btn-read-more" align="right" vertical-align="middle" font-weight="400" font-size="10px" padding="20px 0px 0px 0px" font-family="Arial, sans-serif" text-decoration="none" border-radius="5px" inner-padding="7px 10px" background-color="#2196f3" color="#ffffff" />
      
      <mj-class name="btn-fb" padding="0px 0px 30px 0px" font-weight="500" font-size="12px" font-family="Arial, sans-serif" color="#ffffff" text-decoration="none" border-radius="5px" inner-padding="8px 10px" background-color="#6385BE" />
      <mj-class name="btn-tw" padding="0px 0px 30px 0px" font-weight="500" font-size="12px" font-family="Arial, sans-serif" color="#ffffff" text-decoration="none" border-radius="5px" inner-padding="8px 10px" background-color="#55ACE1" />
      <mj-class name="btn-ftaf" padding="0px 0px 30px 0px" font-weight="500" font-size="12px" font-family="Arial, sans-serif" color="#ffffff" text-decoration="none" border-radius="5px" inner-padding="8px 10px" background-color="#59A650" />
      <mj-class name="btn-give" padding="0px 0px 30px 0px" font-weight="500" font-size="18px" font-family="Arial, sans-serif" color="#ffffff" text-decoration="none" border-radius="50px" inner-padding="18px 42px" background-color="#094D92" />

      <mj-class name="divider" padding="0px 50px" border-width="2px" border-color="#ededed" border-style="solid" container-background-color="#ffffff">
    </mj-attributes>
  </mj-head>
  <mj-body>
    <mj-container background-color="#3c3c3c">
      <mj-section>
        <mj-column vertical-align="middle">
          <mj-text font-size="13px" align="center" padding-bottom="0" padding-top="0">
            <a href="https://www.chaminade.edu/" style="text-decoration: none; color: #e6e6e6;">
              Chaminade University of Honolulu
            </a>
            <br />
            <a href="%%view_email_url%%" style="text-decoration: none; color: #e6e6e6; font-size: 10px;">
              View this email in your browser
            </a>
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section vertical-align="middle" padding="0">
        <mj-image src="{{template.nameplate_image}}" height="auto" padding="0">
        </mj-image>
      </mj-section>

      <mj-section background-color="#004b9d" vertical-align="middle" padding="0">
        <mj-column vertical-align="middle">
          <mj-text align="center" color="#b5c8f1" font-family="Arial, sans-serif" font-weight="400" font-size="14px" line-height="24px" padding="15px">
            {{template.masthead}}
          </mj-text>
        </mj-column>
      </mj-section>

    {{#each content}}
      {{#if @first}}
        {{#if_equals this.type "hero"}}
        {{> hero_article}}
        {{/if_equals}}
      {{else}}
        {{> article}}
      {{/if}}
      {{#unless @last}}
        {{> divider}}
      {{/unless}}

    {{/each}}

      <mj-section vertical-align="middle" background-color="#ffffff" padding="20px 0px">
        <mj-column vertical-align="middle">
          <mj-text align="center" container-background-color="#ecf8ff" color="#047294" font-family="Arial, sans-serif" font-weight="400" font-size="14px" line-height="24px" padding="20px 40px">
            <a href="https://events.chaminade.edu" style="color:#047294; text-decoration:none;">For more campus events, please visit <b>https://events.chaminade.edu</b>
            </a>
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section vertical-align="middle" background-color="#ffffff" padding="30px 50px">
        <mj-column vertical-align="middle">
          <mj-button mj-class="btn-give" container-background-color="#ffffff" href="https://www.chaminade.edu/office-institutional-advancement">
            <span style="line-height:20px;">Donate to Chaminade today!</span>
          </mj-button>
        </mj-column>
      </mj-section>

      <mj-section vertical-align="middle" padding="0px 50px 40px" background-color="#ffffff" text-align="center">
        <mj-column>
          <mj-text font-family="Georgia, Times, serif" font-size="22px" font-weight="400" align="center">
            Share this newsletter on social&nbsp;media!<br />
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section vertical-align="middle" background-color="#ffffff" padding="0px 50px" text-align="center" align="center">
        <mj-column vertical-align="middle">
          <mj-button mj-class="btn-fb" href="https://www.facebook.com/sharer/sharer.php?u=%%view_email_url%%">
            <span style="line-height:20px;">Share on Facebook</span>
          </mj-button>
        </mj-column>
        <mj-column vertical-align="middle">
          <mj-button mj-class="btn-tw" href="https://twitter.com/share?text=Check+out+the+latest+news+from+Chaminade+University!&url=%%view_email_url%%">
            <span style="line-height:20px;">Share on Twitter</span>
          </mj-button>
        </mj-column>
        <mj-column vertical-align="middle">
          <mj-button mj-class="btn-ftaf" href="%%ftaf_url%%">
            <span style="line-height:20px;">Forward to a Friend</span>
          </mj-button>
        </mj-column>
      </mj-section>

      <mj-section vertical-align="middle" padding="0px" background-color="#ffffff">
        <mj-image src="http://image.ucm-email.chaminade.edu/lib/fe9213727d65047e7d/m/1/11575b3b-8240-4281-8590-827d66ed45c5.jpg" height="auto" padding="0" href="https://www.chaminade.edu">
        </mj-image>
      </mj-section>

      <mj-section vertical-align="middle" padding="30px 50px 0px" text-align="center" align="center" background-color="#0153A5">
        <mj-text align="center" font-size="12px" color="#ffffff" text-decoration="none" padding="20px 0px 20px 0px">
          <p style="text-align:center;font-size:14px;">
            <a href="https://www.facebook.com/chaminadeuniversity" style="text-decoration:none;color:#ffffff;">Facebook</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
            <a href="https://www.instagram.com/chaminadeuniversity/" style="text-decoration:none;color:#ffffff;">Instagram</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;
            <a href="https://twitter.com/chaminade_univ" style="text-decoration:none;color:#ffffff;">Twitter</a><br /><br />
          </p>
          <p style="text-align:center;">
            Produced by the Office of University Communications &amp; Marketing<br /> Contact us at <a href="mailto:ucm@chaminade.edu" style="text-decoration:none;color:#ffffff;">ucm@chaminade.edu</a><br />
          </p>
          <p style="text-align:center;">
            This email was sent to <a href="mailto:%%emailaddr%%" style="text-decoration:none;color:#ffffff;">%%emailaddr%%</a>.<br /> You are receiving this message by your affiliation with Chaminade University.
          </p>
          <p style="text-align:center;">
            <a href="https://www.chaminade.edu" style="text-decoration:none;color:#ffffff;font-size:18px;line-height:22px;">
              %%Member_Busname%%<br />
              %%Member_Addr%%<br />
              %%Member_City%%, %%Member_State%% %%Member_PostalCode%%<br />
            </a>
          </p>
        </mj-text>
      </mj-section>

      <mj-section vertical-align="middle" padding="0px 50px 75px" text-align="center" align="center" background-color="#0153A5">
        <mj-text align="center" font-size="12px" color="#ffffff" text-decoration="none" padding="20px 0px 20px 0px">
          <p style="text-align:center;">
            <a href="http://email.exacttarget.com/Company/Policies/PrivacyPolicy.html?linkid=View+Privacy+Policy" style="text-decoration:none;color:#ffffff;">Privacy Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="%%profile_center_url%%" alias="Update Profile" style="text-decoration:none;color:#ffffff;">Update Profile</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="%%unsub_center_url%%" alias="Unsubscribe" style="text-decoration:none;color:#ffffff;">Unsubscribe</a>
          </p>
        </mj-text>
      </mj-section>

    </mj-container>
  </mj-body>
</mjml>