<mjml>
  <mj-head>
    <mj-title>
      {{template.masthead}}
    </mj-title>
    <mj-attributes>
      <mj-text padding="0" font-size="12px" font-family="Georgia, Times, serif" />
      <mj-class name="salutation" align="left" color="#000000" font-family="Georgia, Times, serif" font-weight="400" font-size="20px" line-height="36px" />
      <mj-class name="headline" align="center" color="#000000" font-family="Georgia, Times, serif" font-weight="400" font-size="22px" line-height="28px" padding="0px"/>
    </mj-attributes>
  </mj-head>
  <mj-body>
    <mj-container background-color="#3c3c3c">

      <mj-section>
        <mj-column vertical-align="middle">
          <mj-text align="center" font-size="11" padding-bottom="0" padding-top="0">
            <span style="font-size: 11px;text-align:center;align:center;"><a href="%%view_email_url%%" style="text-decoration: none; color: #e6e6e6; font-family: Georgia, Arial;">
              &nbsp;View this email in your browser
            </a></span>
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section background-color="#004b9d" vertical-align="middle" padding-bottom="0" padding-top="0">
        <mj-column vertical-align="middle">
          <mj-text align="center" color="#004b9d" font-family="Verdana, Arial, sans-serif" font-weight="400" font-size="12px">
            &nbsp;<br />
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section vertical-align="middle" padding="80px 0px 30px" background-color="#ffffff">
        <mj-column vertical-align="middle">
          <mj-image src="http://image.ucm-email.chaminade.edu/lib/fe9213727d65047e7d/m/1/3fba0d4e-53f5-4ce3-93a3-760368f059b6.jpg" align="center" width="175px" padding="0" alt="Chaminade University" title="Chaminade University">
          </mj-image>
        </mj-column>
      </mj-section>

      <mj-section padding="0px" background-color="#ffffff">
        <mj-column>
          <mj-divider width="200px" padding="0px 50px" border-style="solid" border-width="2px" border-color="#ededed" container-background-color="#ffffff" />
        </mj-column>
      </mj-section>

      <mj-section vertical-align="middle" padding="25px 75px 0px" background-color="#ffffff">
        <mj-column>
          <mj-text mj-class="headline">
            Lynn Babington elected<br>Chaminade University’s 10th President
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section vertical-align="middle" background-color="#ffffff" padding="30px 75px 0px">
        <mj-column vertical-align="top" width="40%">
          <mj-image src="http://image.ucm-email.chaminade.edu/lib/fe9213727d65047e7d/m/1/c829a170-1dcf-4549-8e6f-6574fbc55aab.jpg" alt="" padding="0px 0px 25px 0px" width="185px">
          </mj-image>
        </mj-column>
        <mj-column width="10%">&nbsp;</mj-column>
        <mj-column vertical-align="top" width="50%">
          <mj-text align="left" font-family="Arial, Verdana, sans-serif" font-weight="400" font-size="10pt" line-height="24px" color="#047294" padding="0">
            <p style="text-indent: 15px; margin:0;">
              Lynn Babington, Provost and Senior Vice President, Academic Affairs, at <a href='https://www.fairfield.edu/'>Fairfield University</a> in Connecticut, was named Chaminade University’s president-elect. She will begin her service on August 1, 2017. Babington will provide Chaminade University with a seamless transition as Bro. Bernard Ploeger, S.M., president since 2009, concludes his service next summer, after 23 years with the university.
            </p>
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section vertical-align="middle" padding="0px 75px 70px" background-color="#ffffff">
        <mj-column>
          <mj-text align="left" font-family="Arial, Verdana, sans-serif" font-weight="400" font-size="10pt" line-height="24px" color="#047294" padding="0">
            
            <p style="text-indent: 15px;">
              “Chaminade is extremely fortunate to have Lynn lead the university as it sets a new course of exploration, continued relevance and meaningful societal contribution,” said Bro. Bernie. “I look forward to welcoming her alongside our campus community. She will ensure Chaminade University continues to be a valued member of our global community.”
            </p>
            <p style="text-indent: 15px;">
              Prior to her position at Fairfield, Babington held leadership roles at <a href='https://www.northeastern.edu/'>Northeastern University</a> from 2003 to 2011 and also studied as a Fulbright Scholar at Ben Gurion University in Israel. A lifelong advocate of teaching and learning with extensive experience in garnering external support, Babington was selected in 2013 as a Robert Wood Johnson Foundation Executive Nurse Fellow designed to nurture industry leaders in their efforts to improve the nation’s health care system.
            </p>
            <p style="text-indent: 15px;">
              Chaminade University’s Board of Regents Chair, Vaughn Vasconcellos, said, “Bro. Bernie has served Chaminade admirably over the past two decades and is responsible for much of the success it enjoys today. Lynn is well-suited to guide Chaminade into a future filled with promise and opportunity.”
            </p>
            <p style="text-indent: 15px;">
              “With a career dedicated to service and very much rooted in our own Marianist values, I am confident that Dr. Babington will continue to build on the solid foundation we have here,” said Father Martin Solma, S.M., provincial for the Marianist Province of the United States. “Her spirit mirrors that of Chaminade’s with an unwavering commitment to serve others.”
            </p>
            <p style="text-indent: 15px;">
              Babington earned her bachelor’s degree (magna cum laude) from University of Michigan in nursing. She received her master’s degree (MSN) and doctorate (PhD Nursing) from University of Washington. A tireless advocate of higher education and continual teaching, Babington is a fecund academic writer with numerous publications to date. 
            </p>
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section background-color="#004b9d" vertical-align="middle" padding="0px 0px 25px 0px">
        <mj-column vertical-align="middle">
          <mj-text align="center" color="#b5c8f1" font-family="Arial, sans-serif" font-weight="400" font-size="12px" line-height="24px" padding="15px 15px 0px">
            %%Member_Busname%% &bull; %%Member_Addr%% %%Member_City%%, %%Member_State%% %%Member_PostalCode%%
          </mj-text>
          <mj-text align="center" color="#b5c8f1" font-family="Arial, sans-serif" font-weight="400" font-size="10px" line-height="24px" padding="10px">
            This message was sent to <a href="mailto:%%emailaddr%%" style="text-decoration:none;color:#b5c8f1;">%%emailaddr%%</a>.<br> You are receiving this message by your affiliation with Chaminade University.
          </mj-text>
          <mj-text font-family="Arial, sans-serif" align="center" font-size="10px"  color="#b5c8f1" text-decoration="none" padding="0px">
            <a href="http://email.exacttarget.com/Company/Policies/PrivacyPolicy.html?linkid=View+Privacy+Policy" style="text-decoration:none;color:#b5c8f1;">Privacy Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="%%profile_center_url%%" alias="Update Profile" style="text-decoration:none;color:#b5c8f1;">Update Profile</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="%%unsub_center_url%%" alias="Unsubscribe" style="text-decoration:none;color:#b5c8f1;">Unsubscribe</a>
          </mj-text>
        </mj-column>
      </mj-section>

    </mj-container>
  </mj-body>
</mjml>